<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="not-found-container">
    <img src="assets/dfd154ad6b186a82f3f16ead0e9baac5.jpg" alt="Página no encontrada" class="not-found-image"/>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Error 404</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <ion-button expand="full" routerLink="/folder/trash" color="primary">Volver al Inicio</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
