<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Maestranza SPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero-section">
    <h1>Bienvenidos a Maestranza SPA</h1>
    <p>Tu tienda de productos musicales favorita</p>
    <ion-button expand="full" routerLink="/products">Ver Productos</ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/marco-diferentes-instrumentos-musicales-sobre-fondo-madera_192745-2050.avif " alt="Instrumentos">
          <ion-card-header>
            <ion-card-title>Instrumentos Musicales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Encuentra una amplia variedad de instrumentos musicales para todos los gustos.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card>
          <img src="assets/X_ban27649.png" alt="Accesorios">
          <ion-card-header>
            <ion-card-title>Accesorios Musicales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Completa tu equipo con nuestros accesorios de alta calidad.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
