.hero-section {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-size: 2.5rem;
    color: #3880ff;
  }

  p {
    font-size: 1.2rem;
    color: #666;
  }

  ion-button {
    margin-top: 20px;
  }
}

ion-card {
  margin: 10px;

  img {
    max-width: 100%;
    height: auto;
  }
}
 
title-inicial {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
