<ion-header>
  
  <ion-toolbar color="primary"><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-button expand="full">Iniciar Sesión</ion-button>
      </ion-item>

      <ion-item lines="none" class="forgot-password">
        <ion-label>¿Olvidaste tu contraseña?</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

