.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  .forgot-password {
    text-align: center;
    color: var(--ion-color-primary);
  }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
